{% extends "base.html" %}
{% load static %}

{% block content %}


    <form action="/add_item/" method="post">

        <div class="form-group"> <!-- Name field -->
            <label class="control-label " for="item_name">Item Name</label>
            <input class="form-control" id="name" name="item_name" type="text"/>

            <label class="control-label " for="description">Description</label>
            <textarea class="form-control" cols="40" id="message" name="description" rows="10"></textarea>

            <label class="control-label " for="total_price">Total Price</label>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="$ 20.50" name="total_price">

            <label class="control-label " for="item_amount"># of Items</label>
            <input class="form-control" id="name" name="item_amount" type="text"/>

            <label class="control-label " for="ending_date">Ending Date</label>
            <input class="form-control" id="name" name="ending_date" type="text" placeholder="May 20, 2017 @ 5:45pm" />

            <label class="control-label " for="item_image">Upload Image</label>
            <input type='file' name="item_image"/>

            <button class="btn btn-primary " name="submit" type="submit">Add Deal</button>
        </div>

    </form>


{% endblock content %}
