{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container mt40">
        <section class="row">

            <!-- loop through items, each item is a separate article -->

            <!-- start of item 1 -->
            {% for x in "xxxx" %}
            {% for deal in deals %}
            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <!-- put a link here to transition to the view_item.html page -->
                        <a href="{% url "deal" deal.id %}" title="Nature Portfolio" class="zoom" data-title="Amazing Nature"
                           data-footer="The beauty of nature" data-type="image" data-toggle="lightbox">
                            <!-- image of item -->
                            <img class="deal-image" src="{{ deal.image.url }}" alt=""/>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h4><a href="{% url "deal" deal.id %}" title="Nature Portfolio">{{ deal.name }}</a></h4>
                        <span class="label label-info">${{ deal.unit_price }}</span>
                        <h6>{{ deal.description }}</h6>
                        <h6>Total price: ${{ deal.total_price }}</h6>
                        <h6>Valid until {{ deal.ending_date }}</h6>
                    </div>
                </div>
            </article>
            {% endfor %}
            {% endfor %}
            <!-- end of item 1 -->


        </section>
    </div>

{% endblock content %}